footer.footer
  div.footer__top-row
    div.container
      div.row
        div.col-24.col-md-8
          div.footer__container
            div.footer__icon
              img(src="/images/home/topfooter-icon-1.png")
            div.footer__content
              h2.footer__content__title Envio grátis
              p.footer__content__text Para todo o país em compras de valor superior a R$ 0.000
        div.col-24.col-md-8
          div.footer__container
            div.footer__icon
              img(src="/images/home/topfooter-icon-2.png")
            div.footer__content
              h2.footer__content__title Até 3 vezes
              p.footer__content__text Sem juros
        div.col-24.col-md-8
          div.footer__container
            div.footer__icon
              img(src="/images/home/topfooter-icon-3.png")
            div.footer__content
              h2.footer__content__title Monitoramento de entregas
              p.footer__content__text Satisfacao garantizada

  div.footer__bottom-row
    div.container
      div.row
        div.col-24.col-md-8
          div.footer__wrapper
            div.footer__newsletter
              h3.footer__newsletter__title Weinert News
              p.footer__newsletter__text Receba descontos especiais e ofertas exclusivas
              form.footer__newsletter__input-group
                input.footer__newsletter__input(placeholder="Seu email")
                button.footer__newsletter__submit
                  
            div.footer__social
              h2.footer__social__title Seguir em
              ul.footer__social__list
                li.footer__social__item
                  a(href="#" target="_blank")
                    i.fa.fa-facebook
                li.footer__social__item
                  a(href="#" target="_blank")
                    i.fa.fa-instagram
        div.col-24.col-md
          div.footer__group.footer__group--top
            h2.footer__group__title Atendimento ao cliente
            a.footer__group__mail(href="mailto:eshop.ar@bodegaweinert.com" target="_blank") eshop.ar@bodegaweinert.com
            a.footer__group__phone(href="tel:+5511-0000") + 5511 - 0000
            p.footer__group__text Das 9h ás 18h de seg a sex
          div.footer__group
            h2.footer__group__title Questoes gerais
            ul.footer__group__list
              li.footer__group__item
                a(href="/quem-somos") Quem somos
              li.footer__group__item
                a(href="/modo-pagamento") Metodos de pagamento e envio
        div.col-24.col-md
          div.footer__group.footer__group--top
            h2.footer__group__title Compra protegida por
            div.footer__group__logos
              div.footer__group__logo-wrapper
                img(src="/images/home/lets-encrypt.png")
              div.footer__group__logo-wrapper
                img(src="/images/home/konduto.png")
          div.footer__group
            h2.footer__group__title Formas de pagamento
            div.footer__group__icons
              img(src="/images/home/pagamento.png")
        div.col-24.col-md
          div.footer__group
            h2.footer__group__title Loja confiável
            div.footer__group__wrapper
              i.fas.fa-truck
              p.footer__group__text Envio gratis para todo o país em compras de valor superior a R$ 0.000
            div.footer__group__wrapper
              i.far.fa-credit-card
              p.footer__group__text Até 3 vezes sem juros
            div.footer__group__wrapper
              img(src='/images/box-open.svg')
              p.footer__group__text Monitoramento de entregas. Satisfacao garantizada

  .footer__disclaimer
    .container
      .row
        .col-24
          .footer__disclaimer-content
            p © Weinert 2020 | A venda de álcool para menores de 18 anos é proibida
            .footer__disclaimer-content__legal
              a(href="/privacy") Políticas de privacidade
              a(href="/terms-conditions") Termos e Condições