extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.terms-conditions
    .container
      .row
        .col-24.col-md-20.offset-md-2
          h1.terms-conditions__title termos e condições
        .col-24.col-md-20.offset-md-2
          .terms-conditions__group
            h2.terms-conditions__group-title Condições Gerais
            p.terms-conditions__text Leia os termos e condições gerais (doravante, os "termos e condições") descritos abaixo. Estes aplicam-se à navegação no site www.bodegaweinert.com (doravante, o "site" quando se refere ao site da Internet) e aos serviços nele oferecidos. Os usuários do site, doravante, "Usuário" do site. A responsabilidade do referido "Site" e dos produtos oferecidos são da BODEGA Y CAVAS DE WEINERT SA (CUIT: 30-59123523-7).
            p.terms-conditions__text Os direitos de uso do site <a href="http://www.bodegaweinert.com" target="_blank">www.bodegaweinert.com</a> são propriedade da BODEGA Y CAVAS DE WEINERT SA

          .terms-conditions__group
            h2.terms-conditions__group-title Aceitação e conhecimento dos termos e condições
            p.terms-conditions__text Estes termos e condições são obrigatórios e vinculativos. Eles se aplicam a todas as compras e atividades feitas por meio do site. A utilização do site implica no conhecimento e aceitação dos mesmos. Caso não concorde com os termos e condições, deve abster-se de utilizar o site e / ou os serviços por ele oferecidos. Por "usuário" do site se refere tanto a pessoas cadastradas quanto visitantes.

          .terms-conditions__group
            h2.terms-conditions__group-title Modificação dos termos e condições
            p.terms-conditions__text A BODEGA Y CAVAS DE WEINERT SA colocará um aviso no site alertando os usuários sobre essas alterações, por um prazo razoável. Não obstante o acima exposto, os usuários são responsáveis por ler estes termos e condições cada vez que entrarem no site para ver se foram alterados.


          .terms-conditions__group
            h2.terms-conditions__group-title Confirmação de compra
            p.terms-conditions__text No momento da confirmação da compra, o usuário será informado do seu número de operação ou transação. Da mesma forma, o utilizador receberá na sua caixa de correio electrónico a confirmação da aceitação do formulário de encomenda, juntamente com o número da encomenda.


          .terms-conditions__group
            h2.terms-conditions__group-title Interrupção do serviço - exclusão de responsabilidade
            p.terms-conditions__text A BODEGA Y CAVAS DE WEINERT SA reserva-se o direito de interromper, suspender ou modificar os serviços oferecidos neste site a qualquer momento, de forma permanente ou temporária. O consentimento do usuário não será necessário, nem qualquer aviso prévio será necessário. Da mesma forma, não garante o acesso nem a utilização permanente do site, uma vez que pode ser interrompido por motivos técnicos alheios ao controle da BODEGA Y CAVAS DE WEINERT SA. Sem prejuízo do anterior, se a referida suspensão ou interrupção não se dever a motivos de força maior ou fortuito, a BODEGA Y CAVAS DE WEINERT SA compromete-se a cumprir os serviços que se encontravam pendentes no momento da suspensão ou interrupção. A BODEGA Y CAVAS DE WEINERT SA não garante que o site esteja livre de vírus, worms ou qualquer outro elemento que possa danificar ou alterar o funcionamento normal de um computador. É de inteira responsabilidade e obrigação do usuário dispor de ferramentas adequadas para detectar, desinfetar e / ou prevenir qualquer tipo de elementos e / ou possíveis danos desta natureza. A BODEGA Y CAVAS DE WEINERT SA não se responsabiliza por quaisquer danos que possam ocorrer ao equipamento informático dos utilizadores ou de terceiros devido à navegação neste site.


          .terms-conditions__group
            h2.terms-conditions__group-title Cadastro
            p.terms-conditions__text Os usuários podem navegar livremente no site. Porém, para fazer uma compra, o usuário deve inserir cada um dos dados exigidos pelo site. Você deve preencher um formulário na finalização da compra com as informações solicitadas. Caso estes dados sejam esquecidos pelo usuário, a BODEGA Y CAVAS DE WEINERT SA disponibiliza um serviço de ajuda para os recuperar. Para tal, deve clicar na opção correspondente e inserir o e-mail que lhe foi facultado no momento do registo. No final, o sistema enviará confidencialmente seu nome de usuário e senha para essa conta de e-mail. Bem como a BODEGA Y CAVAS DE WEINERT SA se compromete a manter a confidencialidade dos dados fornecidos pelos utilizadores para o seu registo, Os usuários se comprometem a manter a confidencialidade de seu nome / nome de usuário e senha. De acordo com o disposto no parágrafo anterior, os utilizadores são responsáveis pela utilização que fizerem da sua palavra-passe e devem ter presente que, se outras pessoas têm ou possam vir a ter acesso à conta de e-mail introduzida como sua. formulário de inscrição, eles também podem solicitar sua senha e nome de usuário. É obrigação exclusiva do usuário tomar as providências cabíveis para que isso não aconteça. O usuário concorda em notificar a BODEGA Y CAVAS DE WEINERT SA imediatamente e de forma confiável em qualquer uma de suas caixas de contato ou eshop.ar@bodegaweinert.com, de qualquer uso não autorizado de sua conta de usuário, e mantê-la isenta de danos, caso cause algum dano à empresa ou a terceiros. O cadastro do usuário é feito entrando no site, e é gratuito. É obrigatório preencher o formulário em todos os campos com dados válidos e verdadeiros, de forma exata e precisa. Para o correto funcionamento do sistema, é necessário que os usuários mantenham seus dados atualizados. A BODEGA Y CAVAS DE WEINERT SA pode proceder à verificação da identidade do utilizador e / ou dos dados por ele fornecidos a qualquer momento. BODEGA Y CAVAS DE WEINERT SA não se responsabiliza pela veracidade ou exatidão dos dados fornecidos pelos usuários. Da mesma forma, BODEGA Y CAVAS DE WEINERT SA reserva-se o direito de suspender temporária ou permanentemente os usuários em caso de não cumprimento dos termos e condições,


          .terms-conditions__group
            h2.terms-conditions__group-title Capacidade
            p.terms-conditions__text Para utilizar os serviços do site é necessário ter capacidade jurídica para contratar. Quem não tem, quem está suspenso ou incapacitado ou menor de idade não terá acesso aos serviços. Os pais, tutores ou pessoas responsáveis por menores ou pessoas incapacitadas que utilizem o site serão responsáveis por tal uso, incluindo quaisquer encargos, faturas ou danos que daí possam advir.


          .terms-conditions__group
            h2.terms-conditions__group-title Veracidade das informações fornecidas
            p.terms-conditions__text Caso as informações ou dados fornecidos pelo usuário não sejam verdadeiros, o usuário será responsável pelos danos que tal fato possa causar.


          .terms-conditions__group
            h2.terms-conditions__group-title Cookies
            p.terms-conditions__text O site pode utilizar um sistema de tracking através de “cookies”, para que o acesso à informação, ao passar de uma página para outra, seja feito com maior rapidez. Em alguns casos, também ajuda a identificar os usuários, sem ter que pedir a senha repetidamente. Esses cookies são pequenos arquivos que são enviados pela página visitada e que ficam armazenados no disco rígido do computador, ocupando pouco espaço. Os usuários são informados de que, utilizando as opções do navegador, podem limitar ou restringir a hospedagem desses "cookies" à vontade, embora não seja aconselhável restringi-los completamente. O sistema poderá coletar informações sobre suas preferências e interesses. Caso isso ocorra, as informações serão utilizadas exclusivamente para fins estatísticos para a melhoria dos serviços prestados no site.


          .terms-conditions__group
            h2.terms-conditions__group-title Disponibilidade e preço dos produtos oferecidos
            p.terms-conditions__text Antes de comprar, o usuário deve ter em mente que os produtos selecionados podem não estar em estoque no momento de selecioná-los. Todas as compras estão sujeitas a disponibilidade e a disponibilidade apenas será confirmada com o número de transação confirmado, na última fase do processo de compra. Da mesma forma, no caso improvável de esgotamento ou atraso do (s) produto (s) selecionado (s), a BODEGA Y CAVAS DE WEINERT SA entrará em contato com o usuário e o convidará a escolher uma das seguintes opções: A) Continuar aguardando a entrega do produto escolhido (em caso de atraso); B) Cancelamento da compra e devolução do valor pelo meio de pagamento original; C) Optar por um produto alternativo oferecido pela BODEGA Y CAVAS DE WEINERT SA para o caso em questão; D) Cancelamento da compra e emissão de pedido de compra no mesmo valor. Quando o usuário opta por cancelar a compra, o valor pago será devolvido de acordo com a forma de pagamento escolhida em tempo hábil. Caso o usuário opte pelo produto alternativo oferecido por BODEGA Y CAVAS DE WEINERT SA, este deverá possuir características iguais ou superiores. Em nenhum caso o usuário será solicitado a pagar somas adicionais ou assumir o controle das diferenças, a menos que o produto alternativo oferecido por BODEGA Y CAVAS DE WEINERT SA e escolhido pelo usuário tenha características amplamente superiores e caras que o originalmente solicitado por o usuário. Importante: nas situações contempladas nesta seção, o usuário terá o prazo de dez (10) dias para escolher uma das opções mencionadas. Caso o utilizador se omita a este respeito, a BODEGA Y CAVAS DE WEINERT SA pode presumir que optou pelo cancelamento da compra e procederá à devolução do valor pago com o meio de pagamento original. As informações sobre produtos e preços publicadas na página estão sujeitas a alterações, podendo ser modificadas e / ou atualizadas diretamente por BODEGA Y CAVAS DE WEINERT SA. Não será alterado qualquer preço ou condição dos produtos já confirmada em uma operação.


          .terms-conditions__group
            h2.terms-conditions__group-title Reembolso do valor pago
            p.terms-conditions__text Nos casos referidos no ponto anterior em que o utilizador tenha optado pelo reembolso do valor pago, deverá ter em consideração que o reembolso pode demorar no máximo 10 dias úteis, devido a prazos e questões administrativas. Para os casos de devolução via depósito bancário, a conta bancária deverá estar em nome do titular da conta do usuário de onde foi realizada a operação. Caso a titularidade não seja coincidente, será exigida a autorização expressa do titular da conta do usuário como condição indispensável antes do depósito.


          .terms-conditions__group
            h2.terms-conditions__group-title Validade das promoções
            p.terms-conditions__text Caso sejam realizadas ofertas e promoções de produtos, estas valerão para as compras efetuadas desde a data de início das mesmas, até ao final da oferta. Os termos e condições das mesmas serão comunicados no site, e estarão sempre sujeitos à existência dos produtos oferecidos em estoque.


          .terms-conditions__group
            h2.terms-conditions__group-title Imposto sobre Valor Agregado (IVA)
            p.terms-conditions__text Todos os preços expressos no site incluem IVA, salvo indicação em contrário.


          .terms-conditions__group
            h2.terms-conditions__group-title Garantia de produtos
            p.terms-conditions__text A garantia dos produtos adquiridos através da BODEGA Y CAVAS DE WEINERT SA cobre os defeitos de fabricação ou de qualidade somente se forem utilizados para os fins para que foram fabricados. A BODEGA Y CAVAS DE WEINERT SA não cobre os defeitos do produto devido ao uso indevido ou abuso do produto, sendo o cliente, neste caso, o único responsável.


          .terms-conditions__group
            h2.terms-conditions__group-title Direito de arrependimento. Devolução de produtos
            p.terms-conditions__text O usuário terá o direito de devolver os produtos adquiridos no site, durante o prazo de 10 (dez) dias corridos, contados a partir da entrega do produto no endereço indicado pelo usuário, sem qualquer responsabilidade. Para fazer isso, você deve notificar a BODEGA Y CAVAS DE WEINERT SA de forma confiável, dentro do período especificado de sua decisão de devolver o produto, e disponibilizar o (s) produto (s) adquirido (s) à BODEGA Y CAVAS DE WEINERT SA. Os produtos devem estar no mesmo estado em que foram recebidos pelo usuário, sem terem sido utilizados pelo usuário, e com a embalagem original. A BODEGA Y CAVAS DE WEINERT SA devolverá ao usuário todos os valores pagos pelo usuário no prazo de 48 (quarenta e oito) após a retirada dos produtos pela BODEGA Y CAVAS DE WEINERT SA Da mesma forma, Caso o (s) produto (s) tenha (m) rompido (s) ou deteriorado (s) durante o transporte, ou tenha sido encaminhado indevidamente, o usuário deverá entrar em contato com a central de atendimento da BODEGA Y CAVAS DE WEINERT SA dentro do prazo mencionado, para que BODEGA Y CAVAS DE WEINERT SA procede, conforme o caso, à gestão do reexpedimento da compra ou da retirada da mercadoria. No caso de produtos que tenham sofrido quebras ou deterioração durante o transporte, estes não devem ter sido utilizados pelo usuário, e devem estar no mesmo estado em que foram recebidos, com suas embalagens e rótulos. Por exemplo, a título de ilustração, se o produto estiver em seu invólucro de plástico ("blister"), ele deve ser aberto de forma organizada e com cuidado,


          .terms-conditions__group
            h2.terms-conditions__group-title Moeda
            p.terms-conditions__text Todos os preços no site são expressos em pesos argentinos, o curso legal da República Argentina.


          .terms-conditions__group
            h2.terms-conditions__group-title Meios de pagamento
            p.terms-conditions__text Cartões de Crédito: Ao selecionar esta opção você poderá efetuar a compra utilizando os cartões de crédito emitidos por qualquer banco habilitado em nosso site. VER FORMAS DE PAGAMENTO
            p.terms-conditions__text Mercado Pago: Ao selecionar Rapipago ou Pagamento Fácil via Mercadopago na página de pagamento, você tem 48 horas para finalizar seu pagamento e receber o produto reservado em nosso site. Os pagamentos podem ser feitos com cartão, ou através de sistemas de cobrança como Pagamento Fácil, Rapipago ou Pagomiscuentas. A BODEGA Y CAVAS DE WEINERT SA pode disponibilizar outras opções para facilitar as compras pelos seus clientes. Todos os meios de pagamento estão sujeitos ao valor devidamente creditado e / ou verificado. VER FORMAS DE PAGAMENTO


          .terms-conditions__group
            h2.terms-conditions__group-title Remessa de produtos dentro do país. Tempo de entrega
            p.terms-conditions__text As entregas serão feitas no endereço indicado pelo usuário. Sua validade é de sua exclusiva responsabilidade. Os pedidos não serão entregues em caixas de correio ou caixas postais.
            p.terms-conditions__text O prazo de entrega depende da disponibilidade do produto, do prazo de envio e da aprovação do meio de pagamento. Os dias indicados são estimados e correm sempre a partir do momento do envio da encomenda. Os embarques são feitos em toda a República Argentina, exceto na província de Tierra del Fuego. Para saber os tempos médios de entrega, visite a seção de remessa. Ao efetuar uma compra, o usuário recebe em sua caixa de e-mail a confirmação de que o formulário de pedido foi aceito juntamente com um número de pedido.
            p.terms-conditions__text Para garantir a máxima eficiência nas entregas, elas são realizadas por meio de empresas especializadas. O tempo de aprovação varia de acordo com a forma de pagamento. No caso de cartões de crédito, o usuário deve verificar se os dados fornecidos para autorização estão corretos.


          .terms-conditions__group
            h2.terms-conditions__group-title Gastos de envio
            p.terms-conditions__text O usuário será informado claramente dos custos de entrega antes de efetuar a compra. Esses custos são calculados com base no peso total e / ou no volume total da remessa, e também dependem da área do endereço de entrega.
            p.terms-conditions__text Os custos de envio serão discriminados como um item separado na fatura. A BODEGA Y CAVAS DE WEINERT SA está sempre trabalhando para melhorar a qualidade e o custo de entrega para seus clientes.


          .terms-conditions__group
            h2.terms-conditions__group-title Tempos de entrega
            p.terms-conditions__text Os produtos serão entregues de segunda a sexta-feira, entre as 9h00 e as 18h00, exceto feriados nacionais. Quando a data de entrega coincidir com um feriado, será transferido para o próximo dia útil. Os usuários não poderão escolher a hora ou o dia em que os produtos adquiridos serão entregues. As sugestões poderão ser feitas no campo das observações no momento da compra, as quais ficarão sujeitas ao circuito da empresa responsável pelo embarque dos produtos.


          .terms-conditions__group
            h2.terms-conditions__group-title Endereço de entrega
            p.terms-conditions__text O endereço onde o produto será entregue será o indicado pelo usuário. Pode não coincidir com o seu endereço. É responsabilidade do usuário preencher e revisar cuidadosamente as informações relacionadas à entrega, para que o envio da compra seja feito com eficácia e no prazo. Nenhum envio é feito para caixas de correio. A BODEGA Y CAVAS DE WEINERT SA não se responsabiliza pela falta e / ou erro na remessa do endereço para efeitos de envio dos produtos. Caso necessite de solicitar alteração da morada de entrega, esta encomenda deverá ser efectuada no momento da realização do pedido de compra ou através do envio de um email para BODEGA Y CAVAS DE WEINERT SA informando a nova morada de entrega e o número da ordem. O usuário não poderá alterar o endereço de entrega após o faturamento do pedido.


          .terms-conditions__group
            h2.terms-conditions__group-title Consulta sobre o status da remessa
            p.terms-conditions__text Como parte do processo de compra, a BODEGA Y CAVAS DE WEINERT SA enviará ao cliente um e-mail automático indicando o número guia de envio, assim que o produto for despachado. Desta forma, o cliente pode acompanhar o estado (“tracking”) da encomenda a qualquer momento, através da página do fornecedor de logística. Em caso de perda ou outro acidente com o número de rastreamento, o cliente pode entrar em contato com o atendimento e solicitá-lo novamente, indicando o número do pedido.


          .terms-conditions__group
            h2.terms-conditions__group-title Faturamento
            p.terms-conditions__text O utilizador terá à sua disposição a factura emitida de acordo com as disposições legais em vigor sobre facturação, no endereço registado da BODEGA Y CAVAS DE WEINERT SA Caso necessite desta documentação, pode contactar-nos através de eshop.ar@bodegaweinert.com ou Entre em contato com o atendimento ao cliente e a fatura solicitada será enviada automaticamente para você. As faturas são emitidas pela BODEGA Y CAVAS DE WEINERT SA.


          .terms-conditions__group
            h2.terms-conditions__group-title Cancelamento de pedidos de compra
            p.terms-conditions__text Sem prejuízo do disposto, o usuário pode cancelar um pedido no prazo de dez (10) dias corridos após o recebimento do produto no endereço indicado pelo usuário. Para tal, deverá contactar a BODEGA Y CAVAS DE WEINERT SA enviando um email para eshop.ar@bodegaweinert.com, ou através da área de atendimento ao cliente.
            p.terms-conditions__text Se o cancelamento da compra for total, o usuário poderá optar por: (i) solicitar o reembolso do valor através do meio de pagamento que o usuário utilizou para pagar sua compra, ou (ii) solicitar a entrega de uma nota de crédito a seu favor para futuras compras. O utilizador reconhece que no caso do ponto (ii) anterior, a BODEGA Y CAVAS DE WEINERT SA efectuará outro envio, pelo que o utilizador terá de voltar a arcar com os custos daí decorrentes.


          .terms-conditions__group
            h2.terms-conditions__group-title Uso do serviço "enviar este produto a um amigo"
            p.terms-conditions__text Se optar por utilizar o serviço "enviar este produto a um amigo", a BODEGA Y CAVAS DE WEINERT SA poderá solicitar o nome e email da pessoa a quem o envio é enviado, bem como estes mesmos dados seus. Através desta função, BODEGA Y CAVAS DE WEINERT SA enviará um email automático convidando-o a visitar um determinado produto no site. A BODEGA Y CAVAS DE WEINERT SA utilizará o seu e-mail e o da pessoa a quem o encaminhamento apenas para o envio desta comunicação e seguimento posterior, contudo tais informações não serão guardadas.
            p.terms-conditions__text De acordo com a sua política de privacidade, a BODEGA Y CAVAS DE WEINERT SA toma os cuidados necessários para evitar o envio não solicitado de emails (spamming). A BODEGA Y CAVAS DE WEINERT SA e seus usuários não aceitam spam ou envio não solicitado de emails. Por este motivo, fica estabelecido que a utilização do serviço “enviar este produto a um amigo” para fins de spamming, ou o envio indiscriminado de mensagens de qualquer natureza por e-mail, para qualquer fim que seja efectuado, é absolutamente proibida. Por favor, não envie este tipo de mensagem a quem o solicitar.
            p.terms-conditions__text A BODEGA Y CAVAS DE WEINERT SA pode suspender ou desactivar definitivamente os utilizadores que utilizem este serviço para qualquer fim que não o previsto neste serviço e que sejam denunciados pelos destinatários das referidas mensagens.
            p.terms-conditions__text Quem não desejar receber estas comunicações por correio deverá solicitá-lo enviando um e-mail para eshop.ar@bodegaweinert.com O titular poderá, a qualquer momento, solicitar a retirada ou o bloqueio do seu nome nos bancos de dados aos quais o Este artigo (art. 27 inc 3º, Lei 25.326) Em toda comunicação com fins publicitários que seja realizada por correio, telefone, e-mail, Internet ou outro meio remoto a ser conhecido, a possibilidade deve ser indicada de forma expressa e destacada do titular dos dados solicitar a retirada ou bloqueio, total ou parcial, de seu nome na base de dados. A pedido do interessado, deverá ser informado o nome do responsável ou utilizador da base de dados que forneceu as informações ”(n.º 3, art. 27º do Anexo I, Divulgação 1558/01).

          .terms-conditions__group
            h2.terms-conditions__group-title Proibições
            p.terms-conditions__text Os usuários são estritamente proibidos de:
            ul.terms-conditions__list
              li.terms-conditions__item Enviar arquivos ou qualquer tipo de informação cujo conteúdo seja ilegal, obsceno, abusivo, difamatório, calunioso ou contrário aos bons costumes (esta lista é meramente ilustrativa);
              li.terms-conditions__item Enviar arquivos que contenham vírus ou qualquer outra característica capaz de prejudicar o funcionamento do computador, do site ou do sistema;
              li.terms-conditions__item Utilizar o site para violar qualquer tipo de regulamentação em vigor;
              li.terms-conditions__item Fornecer informações falsas no ato do registro ou realização de uma compra, ou em qualquer outro momento quando for necessário qualquer tipo de informação ou dado pessoal; oferecer produtos ou serviços;
              li.terms-conditions__item Utilizar programas, softwares ou dispositivos automáticos ou manuais para monitorar ou copiar as informações ou qualquer tipo de conteúdo do site sem o consentimento prévio de BODEGA Y CAVAS DE WEINERT SA

          .terms-conditions__group
            h2.terms-conditions__group-title Imagens
            p.terms-conditions__text As imagens associadas aos produtos que aparecem no site www.bodegaweinert.com são meramente ilustrativas.


          .terms-conditions__group
            h2.terms-conditions__group-title Declarações
            p.terms-conditions__text A BODEGA Y CAVAS DE WEINERT SA não se responsabiliza pela veracidade das informações inseridas no site por terceiros. Também não é responsável desde que tenha sido reproduzido ou comunicado diretamente pelos usuários do site sem verificação por BODEGA Y CAVAS DE WEINERT SA Se algum usuário for afetado pelas informações a que se refere o parágrafo anterior, deverá notificá-lo ao BODEGA Y CAVAS DE WEINERT SA por correio ou correio postal, a fim de proceder à eliminação do mesmo.


          .terms-conditions__group
            h2.terms-conditions__group-title Direitos reservados. Propriedade intelectual
            p.terms-conditions__text Todos os direitos deste site são reservados e correspondem à BODEGA Y CAVAS DE WEINERT SA em virtude dos direitos de uso do domínio www.bodegaweinert.com. O conteúdo deste site, incluindo, mas não se limitando ao texto, logotipos, gráficos e todo o design em geral, bem como seu banco de dados e software, é propriedade ou é utilizado exclusivamente por BODEGA Y CAVAS DE WEINERT SA ou tem o direito de utilizá-lo sob licenças de uso concedidas e protegidas pela legislação nacional e internacional em vigor sobre propriedade intelectual.
            p.terms-conditions__text Se o usuário considerar que o site viola ou viola os direitos de propriedade intelectual de terceiros de alguma forma, deverá notificar a BODEGA Y CAVAS DE WEINERT SA no endereço indicado nestes termos e condições gerais, ou eshop.ar@bodegaweinert. com acompanhando todas as informações e documentação necessárias que suportam a consideração acima mencionada.


          .terms-conditions__group
            h2.terms-conditions__group-title Nome da empresa e endereço legal
            p.terms-conditions__text O nome da empresa é BODEGA Y CAVAS DE WEINERT SA, com sede em San Martín 5923, CP 5505, Luján de Cuyo, Mendoza, Argentina.


          .terms-conditions__group
            h2.terms-conditions__group-title Notificações
            p.terms-conditions__text Todas as notificações e / ou comunicações que devem ser feitas para a utilização do site sob estes termos e condições gerais, devem ser feitas por escrito: (i) ao usuário: por e-mail, para a conta de e-mail por ele consignada, ou por documento de carta , para o endereço informado na ficha de inscrição; (ii) para a BODEGA Y CAVAS DE WEINERT SA: para o email eshop.ar@bodegaweinert.com, ou para o endereço legal indicado no ponto anterior.


          .terms-conditions__group
            h2.terms-conditions__group-title Avisos de publicidade e links
            p.terms-conditions__text Quando o utilizador “clica” em anúncios ou links de terceiros e acede a outros sites que não pertençam a BODEGA Y CAVAS DE WEINERT SA, estará sujeito aos termos e condições dos referidos sites. O usuário deve ler atentamente suas políticas de acesso e uso.
            p.terms-conditions__text A BODEGA Y CAVAS DE WEINERT SA não garante a legalidade, actualidade, qualidade ou utilidade dos conteúdos, operações e informações comunicadas, reproduzidas e / ou efectuadas em sites de terceiros ligados ou a ausência de nocividade de tais conteúdos ou serviços, portanto que o utilizador exime a BODEGA Y CAVAS DE WEINERT SA de qualquer responsabilidade pelos conteúdos incluídos nos referidos sites ou pelos serviços que neles se oferecem ou promovam.


          .terms-conditions__group
            h2.terms-conditions__group-title Jurisdição e lei aplicável
            p.terms-conditions__text Estes termos e condições são regidos sem exceção e em todos os seus pontos pelas leis da República Argentina e serão interpretados de acordo com elas. Em caso de qualquer diferença, desacordo ou conflito derivado da interpretação, validade, âmbito e / ou aplicação destes termos e condições gerais, o usuário se comunicará com a BODEGA Y CAVAS DE WEINERT SA de forma confiável, enviando sua reclamação, para que o as partes tentam chegar a um acordo. Caso não seja possível chegar a uma solução e garantir aos consumidores o pleno acesso à justiça, o usuário pode escolher e encaminhar sua reclamação para uma das seguintes opções e instâncias:
            ul.terms-conditions__list
              li.terms-conditions__item Sistema nacional de arbitragem de consumidores do Ministério da Economia e Finanças Públicas da Nação. Os procedimentos deste sistema são gratuitos, não sendo necessário patrocínio legal. Da mesma forma, é garantido o equilíbrio entre as partes e a transparência do processo, sendo que as sentenças proferidas por esse tribunal têm autoridade de caso julgado e são irrevogáveis (para saber mais sobre este sistema, acesse <a href="http://www.mecon.gov.ar/snac" target="_blank">http://www.mecon.gov.ar/snac</a> )
              li.terms-conditions__item Direção Geral de Defesa e Defesa do Consumidor do Governo da Cidade de Buenos Aires (para saber mais sobre este sistema, acesse <a href="http://www.buenosaires.gov.ar" traget="_blank">http://www.buenosaires.gov.ar</a> )
              li.terms-conditions__item Tribunais ordinários da capital federal com competência na matéria.
            p.terms-conditions__text No caso de qualquer das opções acima ser onerosa ou economicamente inviável para os usuários domiciliados no exterior, as partes, a pedido do usuário, determinarão de comum acordo um mecanismo mutuamente conveniente para resolver suas diferenças. Da mesma forma, o usuário pode entrar em contato com a BODEGA Y CAVAS DE WEINERT SA a qualquer momento para chegar a um acordo.




