extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.about
    div.about__image-top
      img(src="/images/nosotros/hero.jpg")
    h2.about__title Nossa Vinícola
    p.about__subtitle Localizada na provincia argentina de Mendoza, a weinert winery & cavas foi construida em 1890 peo inmigrante espanhol Ramon Otero e fundada en 1975 pelo alem&atilde;o don bernardo weinert. A miss&atilde;o de quem carrega a arte do vinho* no apelido e no nome da empresa familiar sustenta-se ha mais de quarenta anos: produzir vinho de alta qualidade.
    div.about__images
      div.about__image
        img(src="/images/nosotros/1.jpg")
      div.about__image
        img(src="/images/nosotros/2.jpg")
    p.about__text O conjunto arquitetônico de Bodega y Cavas de Weinert remete à paisagem das vilas italianas. Entre suas peças únicas está um dos maiores tonéis em uso do mundo, construído em carvalho francês em 1920 e com capacidade para 44 mil litros de vinho. Desde 1996, a produção está nas mãos do enólogo suiço Hubert Weber quem, com apenas 27 anos, veio a Luján de Cuyo para uma prática de um ano e, encantado com o potencial da região, decidiu se instalar em Mendoza.
    p.about__text O prédio de tijolos onde funciona a vinícola está localizado a poucos quilômetros da cidade de Mendoza. De fachada simétrica e construida sobre terrenos que antes alimentavam vinhas, se inspira na arquitetura manierista italiana e surpreende pela sua monumentalidade. A casa patronal também é preservada, que mantem aberturas, tetos e pisos originais, bem como um ancestral Aguaribay – árvore de folhas perenes – que cresce majestuosamente entre as duas construções. Bodega y Cavas de Weinert produz seus vinhos neste espaço sonhado onde os métodos tradicionais convivem com o presente e o artístico se encontra com o industrial. Entre o desafio do fabricado e o respeito pela terra como origem. 
    div.about__images
      div.about__video
        img(src="/images/nosotros/video-placeholder.jpg")
        a.about__video-button(href="#")
          i.fas.fa-play
    h2.about__title Nossa filosofia
    p.about__subtitle Áte 2017 a vinicola acompanhou a crianza de um malbec em un tonel de 5800 litros durante 23 anos. A colheita e verificaç&atilde;o responderam a don raul de la mota, considerado o melhor enólogo do seculo XX na argentina.
    div.about__images
      div.about__image
        img(src="/images/nosotros/3.jpg")
      div.about__image
        img(src="/images/nosotros/4.jpg")
    p.about__text A celebração do vinho nos lembra nossa conexão com os tempos do mundo como cenário, em que a bebida reflete o sonho escuro da terra que recebe as chuvas e orvalho do céu. Assim, o encontro entre o céu e terra vivem no vinho, fruto da videira, fruto no qual o elemento nutritivo da terra e o sol se confiam um ao outro.
    p.about__text *Wein “vinho” em alemão, seu idioma materno.
    div.about__image-bottom
      img(src="/images/nosotros/top-footer.jpg")



